:root {
    --blue: #007bff;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --green: #28a745;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #1abc9c;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
}
*,
::after,
::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block;
}
body {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #F4EFD0;
    font-family: din-condensed, sans-serif;
    font-weight: 300;
}

[tabindex="-1"]:focus {
    outline: 0 !important;
}
hr {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 1rem;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

b,
strong {
    font-weight: bolder;
}

small {
    font-size: 80%;
}

sub,
sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 15px;
    width: 100%;
    margin: auto;
    grid-template-areas:
        "header header header"
        ".  main ."
        ". footer .";
}

header {
    grid-area: header;
    height: 250px;
    background-color: #000;
}

main {
	grid-area: main;
}

footer {
	grid-area: footer;
}


.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.upside-down {
    transform: rotate(180deg);
}

.text-container h1{
  font-size: 150px;
  color: rgba(255,255,255,.2);
  background-image: url('img/ss.png');
/*   background-position: center; */
  background-size: 330px;
  background-repeat: repeat-x;
  -webkit-background-clip: text;
  animation: pic-anim 45s linear infinite;
}

.text-container {
  text-align: center;
}

iframe {
  width: 100%:
}

a.button {
  padding: 1rem 2rem 1rem 2rem;
  text-align: center;
  font-size: 1.5rem;
  background-color: #000;
  color: #fff;
  border-radius: 20px;
}

div.buttons-row {
  padding-top: 3rem;
  margin: auto;
}

.intl {
  width: 6vh;
  vertical-align: middle;
  margin-right: 5px;
}

/* ANIMATION CSS */

@keyframes pic-anim {
  0% {
    background-position: left 0px top 0px;
  }
  40% {
    background-position: left 800px top 0px;
  }
}

.kt{
    animation: glitch 1s linear infinite;
  }
  
  @keyframes glitch{
    2%,64%{
      transform: translate(2px,0) skew(0deg);
    }
    4%,60%{
      transform: translate(-2px,0) skew(0deg);
    }
    62%{
      transform: translate(0,0) skew(5deg); 
    }
  }
  
  .kt:before,
  .kt:after{
    content: attr(title);
    position: absolute;
    left: 0;
  }
  
  .kt:before{
    animation: glitchTop 1s linear infinite;
    clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  }
  
  @keyframes glitchTop{
    2%,64%{
      transform: translate(2px,-2px);
    }
    4%,60%{
      transform: translate(-2px,2px);
    }
    62%{
      transform: translate(13px,-1px) skew(-13deg); 
    }
  }
  
  .kt:after{
    animation: glitchBotom 1.5s linear infinite;
    clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  }
  
  @keyframes glitchBotom{
    2%,64%{
      transform: translate(-2px,0);
    }
    4%,60%{
      transform: translate(-2px,0);
    }
    62%{
      transform: translate(-22px,5px) skew(21deg); 
    }
  }